<ActionBar title="Login Principal"></ActionBar>
<ScrollView>
    <Gradient direction="to bottom left" colors="#002aff, #4ecdc4">
        <StackLayout class="page" orientation="vertical">
            <Gradient direction="to bottom left" colors="#002aff, #4ecdc4" width="100%" height="100%">
                <StackLayout class="form">
                    <Image src="res://icon" class="icon"></Image>
                    <Label text="TinChat" class="titulo"></Label>
                    <Label text="Correo Electronico"></Label>
                    <TextField hint="Ingresa Un Correo" keyboardType="email" style.placeholderColor="white" [(ngModel)]="usuario.email"></TextField>
                    <Label text="Contraseña"></Label>
                    <TextField hint="Ingresa Una Contraseña" style.placeholderColor="white" secure="{{mostrarPass}}" [(ngModel)]="usuario.pass"></TextField>
                    <GridLayout rows="*" columns="*,*" height="50">
                        <Switch class="switch" row="0" col="1" [checked]="isTurnedOn" (tap)="mostrarClave()"></Switch>
                        <Label class="mostrar" row="0" col="0" text="Mostrar Contraseña"></Label>
                    </GridLayout>
                    <Button text="Inicia Sesión" class="iniciar" (touch)="onTouchButton($event)" (tap)="pantallaMenu()"></Button>
                    <Label text="O Iniciar con" class="o"></Label>
                    <GridLayout rows="*,*" columns="*,*" height="64" class="redes">
                    <Image row="0" col="0" src="res://facelogo" class="img" (tap)="loginFacebook()"></Image>
                    <Label text="Facebook" row="1" col="0" class="lbl"></Label>
                    <Image row="0" col="1" src="res://gmail" class="img" (tap)="loginGmail()"></Image>
                    <Label text="Gmail" row="1" col="1" class="lbl"></Label>
                </GridLayout>
                    <Button text="Registrate" class="registrar" (touch)="onTouchButton($event)" (tap)="pantallaRegistrar()"></Button>
                </StackLayout>
            </Gradient>
        </StackLayout>
    </Gradient>
</ScrollView>