<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>82100383390-4jk8s2jj3p5q1elio767ov24s4ick3u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82100383390-4jk8s2jj3p5q1elio767ov24s4ick3u4</string>
	<key>API_KEY</key>
	<string>AIzaSyD_AAxjlYRsnnoa8bwlE64NHJtUlxPmZe0</string>
	<key>GCM_SENDER_ID</key>
	<string>82100383390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>embajadores.nativescript.TinChat</string>
	<key>PROJECT_ID</key>
	<string>tinchat-94de6</string>
	<key>STORAGE_BUCKET</key>
	<string>tinchat-94de6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:82100383390:ios:c1752dbeddf1b73b</string>
	<key>DATABASE_URL</key>
	<string>https://tinchat-94de6.firebaseio.com</string>
</dict>
</plist>