<ActionBar title="Crear Perfil">

</ActionBar>
<StackLayout>
    <ScrollView height="90%">
        <StackLayout>
        <Label text="Nombres"></Label>
        <TextField hint="Ingresa tus nombres"></TextField>
        <Label text="Apellidos"></Label>
        <TextField hint="Ingresa tus apellidos"></TextField>
        <Label text="Telefono"></Label>
        <TextField hint="Ingresa un numero de contacto"></TextField>
        <Button text="Guardar Datos" (tap)="crearPerfil()"></Button>
        </StackLayout>
    </ScrollView>
</StackLayout>