.form{
    background-color: #70b7fe;
}

.titulo{
    background-color: azure;
}

*{
    font-family: Courier New, Courier, monospace;
    font-size: 20;
    color:greenyellow;
}

NavigationButton{
    height: 35;
    width: 35;
}

icon{
    height: 35;
    width: 35;
}

.menu{
    height: 35;
    width: 35;
}