<ActionBar title="Registrate En TinChat" class="titulo">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back to ActionBar" (tap)="goBack()" style="color:#e8bd4b"></NavigationButton>
</ActionBar>
<StackLayout class="page">
    <ScrollView>
    <Gradient direction="to bottom left" colors="#002aff, #4ecdc4" width="100%" height="100%">
        <StackLayout class="form">
            <Label text="Correo Electronico" keyboardType="email"></Label>
            <TextField hint="Ingresa Un Correo"></TextField>
            <Label text="Contraseña"></Label>
            <TextField hint="Ingresa Una Contraseña" secure="false"></TextField>
            <Label text="Confirmar Contraseña"></Label>
            <TextField hint="Confirmar Contraseña" secure="false"></TextField>
            <Label text="Telefono Celular"></Label>
            <TextField hint="Numero de contacto" secure="false"></TextField>
            <Button text="Registrarme" class="iniciar" (touch)="onTouchButton($event)" (tap)="validarDatos()"></Button>
            <Label text="O Registrate Con" class="o"></Label>
            <GridLayout rows="*,*" columns="*,*" height="64" class="redes">
                        <Image row="0" col="0" src="res://facelogo" class="img" (tap)="registroFacebook()"></Image>
                        <Label text="Facebook" row="1" col="0" class="lbl"></Label>
                        <Image row="0" col="1" src="res://gmail" class="img" (tap)="registroGmail()"></Image>
                        <Label text="Gmail" row="1" col="1" class="lbl"></Label>
                    </GridLayout>
        </StackLayout>
    </Gradient>
    </ScrollView>
</StackLayout>