<ActionBar title="Registrate En TinChat" class="titulo">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back to ActionBar" (tap)="goBack()" style="color:#e8bd4b"></NavigationButton>
</ActionBar>
<ScrollView>
    <StackLayout class="page" width="100%" height="100%">
        <Gradient direction="to bottom left" colors="#002aff, #4ecdc4" width="100%" height="100%">
            <StackLayout class="form">
                <Label text="Correo Electronico" keyboardType="email"></Label>
                <TextField hint="Ingresa Un Correo" style.placeholderColor="white" [(ngModel)]="usuario.email" keyboardType="email"></TextField>
                <Label text="Contraseña"></Label>
                <TextField hint="Ingresa Una Contraseña" style.placeholderColor="white" secure="false" [(ngModel)]="usuario.pass"></TextField>
                <Label text="Confirmar Contraseña"></Label>
                <TextField hint="Confirmar Contraseña" style.placeholderColor="white" secure="false" [(ngModel)]="usuario.conpass"></TextField>
                <Label text="Telefono Celular"></Label>
                <TextField hint="Numero de contacto" style.placeholderColor="white" secure="false" [(ngModel)]="usuario.telefono" maxLenght="10" keyboardType="number"></TextField>
                <Button text="Registrarme" class="registrar" (touch)="onTouchButton($event)" (tap)="validarDatos()"></Button>
            </StackLayout>
        </Gradient>
    </StackLayout>
</ScrollView>